body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* LADO IZQUIERDO */
.branding-section {
    background: linear-gradient(180deg, #525252 0%, #DBDBDB 100%);
    position: relative;
}

.branding-content {
    margin: auto;
}

.logo {
    width: 150px;
}

/* TARJETA LOGIN */
.login-card {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* BOTÓN */
.btn-primary {
    background-color: #2BB3E6;
    border: none;
}

.btn-primary:hover {
    background-color: #239ac7;
}

/* INPUT FOCUS */
.form-control:focus {
    border-color: #2BB3E6;
    box-shadow: 0 0 0 0.2rem rgba(43,179,230,0.25);
}